body{
    background-color: rgb(240, 241, 220);
    text-align: left;
}
p{
    color: rgb(27, 0, 145);
    font-size: larger;
    font-family: sans-serif;
}
h1{text-align: center;
}
ul{
    color: rgb(27, 0, 145);
    font-size: larger;
    font-family: sans-serif; 
}
header::after {     
    content: '';
    display: table;
    clear: both;
  }  
  .row{
    display: flex;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  .img7{
      max-height: 500px;
  }
  