h2{
    color: rgb(27, 0, 145);
}
p{
    color: rgb(27, 0, 145);
    font-size: larger;
    font-family: sans-serif;
}
.img1{
    max-width: 33.33%;
    max-height: 533px;   
}
.img2{
    max-width: 33.33%;
    max-height: 533px;
}
.img3{
    max-height: 416px;
}

body{
    text-align: center;
    background-color: rgb(240, 241, 220);
}
}
h1{
    color: rgb(27, 0, 145);   
}
.container{
    width: 85%;
    margin: 0 auto;
}
nav{
    float: right;
}
nav ul{
    margin:0;
    padding:0;
    list-style:none;
}
nav li{
    display: inline-block;
    margin-left: 10px;
}
ul{
    color: rgb(27, 0, 145);
    font-size: large;
    font-family: sans-serif; 
}

header::after {     
    content: '';
    display: table;
    clear: both;
  }  
  .row{
    display: flex;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .column {
    flex: 33.33%;
    padding: 5px;
  }