h2{
    color: rgb(27, 0, 145);
}
p{
    color: rgb(27, 0, 145);
}
.img1{
    max-width: 1%;
    Height: 1%;   
}
body{
    text-align: center;
    background-color: rgb(240, 241, 220);
}
}
h1{
    color: rgb(27, 0, 145);
    
}
.container{
    width: 85%;
    margin: 0 auto;
}
nav{
    float: right;
}
nav ul{
    margin:0;
    padding:0;
    list-style:none;
}
nav ul{
    display: inline-block;
}
header::after {     
    content: '';
    display: table;
    clear: both;
  }   
  