h2{
    color: rgb(27, 0, 145)
}
p{
    color:  rgb(27, 0, 145)                         
background-color rgb(253, 255, 225);
}
img{
    max-width: 55%;
    Height: 38%;
}
body{
    text-align: center;
    background-color: rgb(247, 187, 222);
}
h1{
    color: rgb(27, 0, 145)
}
