
p1{
    color: rgb(27, 0, 145);
    font-size: larger;
    font-family: sans-serif;
    text-align: left;
}
h1{
    text-align: center;
}
body{
    background-color: rgb(240, 241, 220);
}
header::after {     
    content: '';
    display: table;
    clear: both;
  }  
  .row{
    display: flex;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  .img14{
      max-height: 400px;
  }
  .img15{
      max-height: 400px;
  }
  .container{
    width: 85%;
    margin: 0 auto;
}
nav{
    float: right;
}
nav ul{
    margin:0;
    padding:0;
    list-style:none;
}
nav li{
    display: inline-block;
    margin-left: 10px;
}
ul{
    color: rgb(27, 0, 145);
    font-size: large;
    font-family: sans-serif; 
}
